{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
<!--enables us use bootstrap through crispy -->

{% block content %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form.group">
            <legend class="boder-bottom mb-4">Reset Password</legend>
            <small class="text-muted">
                Enter your e-mail address to obtain a new password
            </small>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock content %}